[submodule "src/cppgtfs"]
	path = src/cppgtfs
	url = https://github.com/ad-freiburg/cppgtfs.git
[submodule "src/xml"]
	path = src/xml
	url = https://github.com/patrickbr/pfxml.git
[submodule "src/configparser"]
	path = src/configparser
	url = https://git.patrickbrosi.de/patrick/configparser
[submodule "src/util"]
	path = src/util
	url = https://github.com/ad-freiburg/util
