Makefile
CMakeCache.txt
*.o
*.a
cmake_install.cmake
*~
cmake-build-*
CMakeFiles
*.cfg
*.cmake
/build/
*.pyc
compile_commands.json
.vimrc
.clang_complete
/.idea
*.vs
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.cppr
*.hr
