name: Build
'on':
  - push
jobs:
  ubuntu-18-04-build-gcc-5:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v2
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: install dependencies
        run: sudo apt install -y cmake g++-5 gcc-5
      - name: cmake
        run: mkdir build && cd build && cmake ..
        shell: bash
        env:
          CC: gcc-5
          CXX: g++-5
      - name: make
        run: cd build && make
      - name: tests
        run: cd build && ctest --output-on-failure
  ubuntu-20-04-build-gcc:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v2
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: install dependencies
        run: sudo apt install -y cmake gcc g++
      - name: cmake
        run: mkdir build && cd build && cmake ..
      - name: make
        run: cd build && make
      - name: tests
        run: cd build && ctest --output-on-failure
  ubuntu-latest-build-gcc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v2
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: install dependencies
        run: sudo apt install -y cmake gcc g++
      - name: cmake
        run: mkdir build && cd build && cmake ..
      - name: make
        run: cd build && make
      - name: tests
        run: cd build && ctest --output-on-failure
  ubuntu-18-04-build-clang-3_9:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v2
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: install dependencies
        run: sudo apt install -y cmake clang-3.9
      - name: cmake
        run: mkdir build && cd build && cmake ..
        shell: bash
        env:
          CC: clang-3.9
          CXX: clang++-3.9
      - name: make
        run: cd build && make
      - name: tests
        run: cd build && ctest --output-on-failure
  ubuntu-20-04-build-clang:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v2
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: install dependencies
        run: sudo apt install -y cmake clang
      - name: cmake
        run: mkdir build && cd build && cmake ..
        shell: bash
        env:
          CC: clang
          CXX: clang++
      - name: make
        run: cd build && make
      - name: tests
        run: cd build && ctest --output-on-failure
  ubuntu-latest-build-clang:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v2
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: install dependencies
        run: sudo apt install -y cmake clang
      - name: cmake
        run: mkdir build && cd build && cmake ..
        shell: bash
        env:
          CC: clang
          CXX: clang++
      - name: make
        run: cd build && make
      - name: tests
        run: cd build && ctest --output-on-failure
  macos-latest-build:
    runs-on: macOS-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v2
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: install dependencies
        run: brew install cmake
      - name: cmake
        run: mkdir build && cd build && cmake ..
      - name: make
        run: cd build && make
      - name: tests
        run: cd build && ctest --output-on-failure
  macos-12-build:
    runs-on: macOS-12
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v2
      - name: Checkout submodules
        run: git submodule update --init --recursive
      - name: install dependencies
        run: brew install cmake
      - name: cmake
        run: mkdir build && cd build && cmake ..
      - name: make
        run: cd build && make
      - name: tests
        run: cd build && ctest --output-on-failure
